<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="container"><%- include('./partials/nav.ejs') %></header>
    <main class="container">
      <h1>Edit notes</h1>
      <form action="/notes/edit/<%= note.id %> " method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <input
          type="text"
          name="topic"
          id="topic"
          placeholder="Topic"
          value="<%= note.topic %>"
        />

        <textarea
          name="description"
          id="textarea"
          cols="30"
          rows="10"
          placeholder="//Write a note here"
        >
          <%= note.description %>
        </textarea>

        <button class="button">Update note</button>
      </form>
    </main>

    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script type="module" src="../main.js"></script>
    <script>
      ClassicEditor.create(document.querySelector('#textarea'), {
        toolbar: [
          'heading',
          '|',
          'bold',
          'italic',
          'link',
          'bulletedList',
          'numberedList',
          'blockQuote',
          'undo',
          'redo',
        ],
      }).catch(error => {
        console.error(error);
      });
    </script>
  </body>
</html>
