<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="container">
      <!-- Nav -->
      <%- include('./partials/nav.ejs') %>

      <div class="alert">
        <img src="./images/alarm.svg" alt="alarm" />
        <h3>
          Beware your notes added aren't saved, please sign in to save your
          notes
        </h3>
      </div>

      <section class="desc__heading">
        <% if (isAuth) { %>
        <h2><%- firstName %>'s Notes</h2>
        <% } else { %>
        <h2>My Notes</h2>
        <% } %>

        <div class="desc__content">
          <div class="desc__search">
            <input
              class="search"
              type="search"
              name="search"
              id="search"
              placeholder="Search Note Topic"
            />
          </div>
          <button class="button createNotes" id="">
            <span class="createNotes__text">Create Notes</span>
            <img src="../images/add.svg" alt="add icon" />
          </button>
        </div>
      </section>
    </header>

    <main class="container">
      <div class="modal" aria-hidden="true">
        <img src="/images/cross.svg" alt="close modal" class="closeModal" />
        <form action="/notes" method="POST">
          <input type="text" name="topic" id="topic" placeholder="Topic" />

          <textarea
            name="description"
            id="textarea"
            cols="30"
            rows="10"
            placeholder="//Write a note here"
          ></textarea>

          <button class="button button__add" id="addNote">Add note</button>
        </form>
      </div>

      <section class="notes__container" data-isAuth="<%= isAuth %>">
        <% if (notes.length > 0) { %> <% notes.forEach(note => { %>
        <div class="note" data-aos="fade-up">
          <h2><%= note.topic %></h2>
          <div><%= note.description %></div>

          <a href="/notes/edit/<%= note.id %>" class="note__edit">
            <img src="./images/edit.svg" alt="edit icon" />
          </a>

          <button class="note__delete">
            <img
              data_id="<%= note.id %>"
              class="delete"
              src="../images/delete_icon.svg"
              alt="delete icon"
            />
          </button>
        </div>
        <% })} %>
      </section>
      <% if (notes.length === 0) { %>
      <div class="note__none">
        <img src="images/note.svg" alt="Add note icon" />
        <h3>There are no Notes, Please add a note</h3>
      </div>
      <% } %>

      <div class="notFound">
        <img src="../images/404-1.svg" alt="Not Found" />
        <h2>No Notes Found</h2>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <script type="module" src="../scripts/notes.js"></script>
    <script type="module" src="../main.js"></script>
    <%- include('./partials/aos.ejs') %>
    <script>
      const deleteIcons = document.querySelectorAll('.note__delete img');

      deleteIcons.forEach(deleteIcon => {
        deleteIcon.addEventListener('click', e => {
          const endpoint = `/notes/${deleteIcon.attributes[0].nodeValue}`;

          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(res => {
              window.location.href = '/notes';
            })
            .catch(err => console.error(err));
        });
      });
    </script>
  </body>
</html>
