<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="container">
      <!-- Nav -->
      <%- include('./partials/nav.ejs') %>

      <section class="desc__heading">
        <% if (isAuth) { %>
        <h2><%- firstName %>'s Tasks</h2>
        <% } else { %>
        <h2>My Tasks</h2>
        <% } %>
        <div class="desc__content">
          <div class="desc__search">
            <input
              class="search"
              type="search"
              name="search"
              id="search"
              placeholder="Search Task Name"
            />
          </div>
          <button class="button createNotes" id="">
            <span class="createNotes__text">Create Tasks</span>
            <img src="../images/add.svg" alt="add icon" />
          </button>
        </div>
      </section>
    </header>

    <main class="container">
      <div class="modal">
        <img src="/images/cross.svg" alt="close modal" class="closeModal" />
        <form action="/tasks" method="POST">
          <div>
            <input type="text" name="topic" id="topic" placeholder="Topic" />
            <input type="date" name="date" id="date" />
            <textarea
              name="description"
              id="textarea"
              cols="30"
              rows="10"
              placeholder="input your tasks"
            ></textarea>
          </div>
          <button id="addTasks" class="button">Add tasks</button>
        </form>
      </div>

      <section class="tasks__container <% if (tasks.length === 0) { %> tasks__hidden <%} else {%> tasks__show <%}%>" data-isAuth="<%= isAuth %>">
        <% if (tasks.length > 0) { %> <% tasks.forEach(task => { %>
        <div class="task" data-aos="fade-up">
          <input data_id="<%= task.id %>" type="checkbox" id="checkbox" />
          <div class="task__content">
            <h2 contenteditable="false"><%= task.topic %></h2>
            <p class="desc" contenteditable="false"><%= task.description %></p>
            <p class="date" contenteditable="false"><%= task.date %></p>
          </div>
        </div>
        <% })} %>
      </section>
      <% if (tasks.length === 0) { %>
      <div class="task__none">
        <img src="images/task-no.svg" alt="Add task icon" />
        <h3>There are no Tasks, Please add a task</h3>
      </div>
      <% } %>

      <div class="<% if (tasks.length === 0) { %> notFoundNone <%} else {%> notFound <%}%>">
        <img src="../images/404-1.svg" alt="Not Found" />
        <h2>No Task Found</h2>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <script type="module" src="../scripts/tasks.js"></script>
    <script type="module" src="../main.js"></script>
    <%- include('./partials/aos.ejs') %>

    <script>
      const deleteCheckBoxes = document.querySelectorAll(
        'input[type="checkbox"]'
      );

      deleteCheckBoxes.forEach(checkbox => {
        checkbox.addEventListener('click', e => {
          const endpoint = `/tasks/${checkbox.attributes[0].nodeValue}`;

          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(res => {
              window.location.href = '/tasks';
            })
            .catch(err => console.error(err));
        });
      });
    </script>
  </body>
</html>
