<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="container">
      <!-- Nav -->
      <%- include('./partials/nav.ejs') %>

      <section class="desc__heading">
        <% if (isAuth) { %>
        <h2><%- firstName %>'s Tasks</h2>
        <% } else { %>
        <h2>My Tasks</h2>
        <% } %>
        <div class="desc__content">
          <div class="desc__search">
            <input
              class="search"
              type="search"
              name="search"
              id="search"
              placeholder="Search Task Name"
            />
          </div>
          <button class="button createNotes" id="">
            <span class="createNotes__text">Create Tasks</span>
            <img src="../images/add.svg" alt="add icon" />
          </button>
        </div>
      </section>
    </header>

    <main class="container">
      <div class="modal">
        <img src="/images/cross.svg" alt="close modal" class="closeModal" />
        <form action="/tasks" method="POST">
          <div>
            <input
              type="text"
              name="topic"
              id="topic"
              placeholder="Topic"
              required
            />
            <input type="date" name="date" id="date" required />
            <textarea
              name="description"
              id="textarea"
              cols="30"
              rows="10"
              placeholder="input your tasks"
              required
            ></textarea>
          </div>
          <button type="submit" id="addTasks" class="button">
            Add tasks
            <div class="spinner icon-spinner-2" aria-hidden="true"></div>
          </button>
        </form>
      </div>

      <section class="tasks__container" data-isAuth="<%= isAuth %>">
        <% if (tasks.length > 0) { %> <% tasks.forEach(task => { %>
        <div class="task" data-aos="fade-up">
          <input
            data_id="<%= task.id %>"
            type="checkbox"
            id="checkbox"
            title="mark completed"
          />
          <div class="task__content">
            <h2><%= task.topic %></h2>
            <p class="desc"><%= task.description %></p>
            <p class="date">
              <img src="./images/calender.svg" alt="" />
              <%= task.date %>
            </p>
          </div>
        </div>
        <% })} %>
      </section>
      <% if (isAuth && tasks.length === 0) { %>
      <div class="task__none">
        <img src="images/task-no.svg" alt="Add task icon" />
        <h3>There are no Tasks here, Please add a task</h3>
      </div>
      <% } %> <% if (isAuth == false) { %>
      <div class="task__none task__none__offline">
        <img src="images/task-no.svg" alt="Add task icon" />
        <h3>There are no Tasks here, Please add a task</h3>
      </div>
      <% } %>

      <div class="<%if(tasks.length===0){%>notFoundNone<%}else{%>notFound<%}%>">
        <img src="../images/404-1.svg" alt="Not Found" />
        <h2>No Task Found</h2>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <script type="module" src="../scripts/tasks.js"></script>
    <script type="module" src="../main.js"></script>
    <%- include('./partials/aos.ejs') %>
  </body>
</html>
